<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__ADMIN__/css/base.css" />
<link rel="stylesheet" href="__ADMIN__/css/info-reg.css" />
<title></title>
</head>

<body>
<div class="title"><h2>学生信息编辑</h2></div>
<form action="" method="post">
	<div class="main">
		<p class="short-input ue-clear">
	        <input type="hidden" name="id" value="{$info.id}"/>
	    </p>
	    <p class="short-input ue-clear">
	    	<label>学号：</label>
	        <input type="text" name="stid" value="{$info.stid}" placeholder="学号" />
	    </p>
	    <p class="short-input ue-clear">
	    	<label>密码：</label>
	        <input type="text" name="password" value="{$info.password}" placeholder="密码" />
	    </p>
	    <p class="short-input ue-clear">
	    	<label>姓名：</label>
	        <input type="text" name="stname" value="{$info.stname}" placeholder="姓名" />
	    </p>
	    <p class="short-input ue-clear">
	    	<label>所属班级：</label>
	        <select name="cname">
	            <option  value="{$ccname}"}>{$ccname}</option>
	            <volist name='data' id='vol'>
	               	<option value="{$vol.cname}">{$vol.cname}</option>
	            </volist>
	        </select>
	    </p>
	</div>
	<div class="btn ue-clear">
		<a href="javascript:;" id="btnsubmit" class="confirm">确定</a>
	    <a href="javascript:;" id="btncancel" class="clear">清空内容</a>
	</div>
</form>
</body>
<script type="text/javascript" src="__ADMIN__/js/jquery.js"></script>
<script type="text/javascript" src="__ADMIN__/js/common.js"></script>
<script type="text/javascript" src="__ADMIN__/js/WdatePicker.js"></script>
<script type="text/javascript">
$(".select-title").on("click",function(){
	$(".select-list").toggle();
	return false;
});
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(".select-title").find("span").text(txt);
});

showRemind('input[type=text], textarea','placeholder');

//jQuery代码
//
$(function(){
	//给确定按钮绑定点击事件
	$('.confirm').on('click',function(){
		$('form').submit();
	});
});
$(function(){
	//给清空按钮绑定点击事件
	$('.clear').on('click',function(){
		$('form')[0].reset();
	});

});
</script>
</html>
